.fixed {
	position: fixed;
	background-color: white;
	padding: 10px 0px;
	top: 0;
	width: 100%;
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
		0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat-body {
	padding: 0;
	margin-top: 10px;
}

.chat {
	padding-top: 95px;
}

.chat-body .status-bar,
.chat-body .header {
	padding: 0 20px;
}

.chat__write-container {
	position: fixed;
	/*bottom: 30px;
	width: 80%;*/
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
	padding: 0px 25px;
	/*border-radius: 25px;*/
	margin: auto;
	left: 0;
	right: 0;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write {
	bottom: 0;
	width: 80%;
	border-radius: 0;
	border: none;
	padding: 10px;
	font-size: 15px;
	margin-left: 35px;
}

.chat__write:focus {
	outline: none;
}

.chat__write:focus ~ .chat__icon {
	opacity: 0;
}

.chat__icon {
	font-size: 18px;
	transition: opacity 0.3s ease-in-out;
}

.chat__icon-left {
	position: absolute;
}

.chat__icon-right {
	position: absolute;
	right: 20px;
}

.chat__write .chat__write-column:nth-child(2) {
	width: 80%;
}

.chat-body {
	background-image: url("../images/white-waves.png");
	height: 1000vh;
}

#chatbg .chat__messages {
	padding: 0px 15px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chatbg .chat__timestamp {
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 15px;
	margin-bottom: 30px;
	text-transform: uppercase;
	/*opacity: 0.6;*/
}

#chatbg .message {
	display: flex;
	margin-bottom: 20px;
}

.incoming-message {
	align-self: flex-start;
}

.sent-message {
	align-self: flex-end;
	align-items: center;
}

.message__bubble {
	background-color: white;
	padding: 5px 10px;
	border-radius: 15px;
	font-size: 13px;
	color: white;
}

.message__friend {
	display: block;
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 12px;
}

.friend-chat {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.message__timestamp {
	font-size: 12px;
	margin: 10px;
}

.incoming-message .message__bubble {
	border-bottom-left-radius: 0px;
	background-image: linear-gradient(to right, #005aa7, #ffefba);
}

.sent-message .message__bubble {
	border-bottom-right-radius: 0px;
	background-image: linear-gradient(to left, #005aa7, #ffefba);
}
