.chat-body {
	padding: 0;
}

.chat-body .status-bar,
.chat-body .header {
	padding: 0 20px;
}

.chat__write {
	position: fixed;
	bottom: 30px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
	padding: 20px 25px;
	border-radius: 25px;
	margin: auto;
	left: 0;
	right: 0;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write i {
	font-size: 22px;
}

.chat__write .chat__write-column:nth-child(2) {
	width: 80%;
}

.chat__write-column input {
	width: 100%;
	border: none;
	padding: 10px;
	font-size: 15px;
}

.chat__write-column input:focus {
	outline: none;
}

#chatbg {
	background-image: url("../images/white-waves.png");
	height: 100vh;
}

#chatbg .chat__messages {
	padding: 0px 15px;
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#chatbg .chat__timestamp {
	background-color: white;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 15px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

#chatbg .message {
	display: flex;
}

.incoming-message {
	align-self: flex-start;
}

.sent-message {
	align-self: flex-end;
	align-items: center;
}

.message__bubble {
	background-color: white;
	padding: 5px 10px;
	border-radius: 15px;
	font-size: 13px;
}

.message__friend {
	display: block;
	margin-bottom: 12px;
}

.friend-chat {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.message__timestamp {
	font-size: 12px;
	margin: 10px;
}
