.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 21px;
	align-items: center;
}

.header .header__title {
	font-size: 20px;
	font-weight: 600;
}

.header .header__icon {
	font-size: 20px;
	margin-left: 20px;
	cursor: pointer;
}

.header .header__column {
	display: flex;
	align-items: center;
}

.header .header__back {
	font-size: 20px;
	margin-right: 12px;
}
